html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 50%;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  height: 1080px;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
body {
  margin: 0;
}
